* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#nav {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    background-color: black;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#nav > a {
    color: whitesmoke;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Amatic SC', cursive;
}
#head > h1 {
    margin-top: 2%;
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    display: flex;
    font-size: 70px;
    justify-content: center;
    align-items: center;
}
#head > h2 {
    font-family: 'Amatic SC', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    padding: 0%;
    margin: 0%;
}
footer > h3 {
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    font-size: 35px;
    padding-top: 2%;
}
footer > form, input {
    display: flex;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
.foot > button {
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    font-size: 18px;
    background-color: black;
    color: whitesmoke;
    padding: .50%;
    padding-left: 2%;
    padding-right: 2%;
    margin-top: 1%;
}
.foot {
    background-color: wheat;
    height: 200px;
    padding-bottom: 10%;
    margin-top: 3%;
    border-top: 4px double black;
    margin-bottom: 0%;
}
#c4 > button {
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    font-size: 25px;
    background-color: black;
    color: whitesmoke;
    padding: 1%;
    padding-left: 2%;
    padding-right: 2%;
    margin-top: 1%;
    margin-bottom: 2%;
}
button {
    margin: auto;
    display: flex;
    position: relative;
    margin-right: auto;
    margin-left: auto;
}
#img1 {
    margin-top: 1%;
    width: 100%;
    height: auto;
    display: flex;
}
#menu {
    margin-top: 1%;
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    display: flex;
    font-size: 55px;
    justify-content: center;
    align-items: center;
}
table, th, td {
    border: 3px double black;
    align-content: center;
    padding: 5mm;
}
table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
}
th {
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    font-size: 30px;
}
td {
    text-align: center;
    font-family: 'Raleway', sans-serif;
}
p {
    text-align: justify;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    margin-top: 1%;
    padding-left: 5%;
    padding-right: 5%;
}
h2 {
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    font-size: 40px;
    margin-top: 1%;
}
.fab {
    padding: 8px;
    height:1rem;
    font-size: 1.75em;
}
footer > span {
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    font-size: 30px;
    padding: 5px;
    margin-left: 0%;
    
}
form > input[type=text] {
    border: 3px double black;
    border-radius: 4px;
    background-color: wheat;
    width: 250px;

}
#nav :hover {
    color: wheat;
}
.loc1 {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
    
}
.loc2 {
    border: 4px double black;
    margin: 4%;
    padding: 4%;
    background-color: wheat;
    height: auto;
}
.loc2 > h3 {
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    font-size: 38px;
}
.loc2 > h4 {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 500;
    margin-top: 1%;
}
.loc2 > h5 {
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    font-size: 28px;
    margin-top: 4%;

}
.loc2 > h6 {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 500;
    font-style: italic;
}

/* Tablete & Mobile Size */
@media only screen and (max-width: 1200px) {
    p {
        font-size: 14px;
    }
    #menu {
        font-size: 70px;
    }
    .loc1 {
        display: flex;
        flex-direction: column;
    }
}